#banner {
  background-color: #3d424f;
  color: white;
}

#banner h1 {
  font-family: 'Aldrich', sans-serif;
}

.banner-img {
  overflow: hidden;
}

.banner-img img {
  animation-duration: 850ms;
  visibility: hidden;
}

.banner-img img.animated {
  visibility: visible !important;
}
