#utility {
  background-color: rgb(79, 145, 210);
  color: white;
}

#utility .util-img {
  height: 320px;
}

#utility img {
  max-height: 100%;
}

#utility .hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.leftalign, .centeralign, .rightalign
{
   text-align: center;
}
@media only screen and (min-width: 992px)
{
   .leftalign
   {
      text-align: left;
   }
   .rightalign
   {
      text-align: right;
   }
}
